/* 폰트 불러오기 */
@font-face {
    font-family: 'Pretendard';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('./assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';
}